# Django
DOCKER_SECRET_KEY=your-secret-key-here
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DOCKER_DB_NAME=truck_signs
DOCKER_DB_USER=postgres
DOCKER_DB_PASSWORD=your-password-here
DOCKER_DB_HOST=db
DOCKER_DB_PORT=5432

# PostgreSQL Container
POSTGRES_DB=truck_signs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here

# Stripe
DOCKER_STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
DOCKER_STRIPE_SECRET_KEY=your-stripe-secret-key

# Cloudinary
DOCKER_CLOUD_NAME=your-cloud-name
DOCKER_API_KEY=your-api-key
DOCKER_API_SECRET=your-api-secret

# Email
DOCKER_EMAIL_HOST_USER=your-email@gmail.com
DOCKER_EMAIL_HOST_PASSWORD=your-email-password